.booklist {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1;
	.list {
		height: calc(100% - 1.2703rem);
		overflow: hidden;
	}
	.wrapper{
		box-sizing: border-box;
		padding: 0.2703rem 0.4865rem;
	}
	.top {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 5px 10px 5px 0;
		background-color: #333;
		height: 1.2703rem;
		box-sizing: border-box;
		i.icon-back {
			color: #a1a1a1;
			font-size: 0.6486rem;
			box-sizing: border-box;
			padding: 5px;
		}
	}
}
