.item{
	width: 4.3243rem;
	height: 2.1622rem;
	background-color: #f7f7f9;
	margin: 0.2162rem 0;
	border-radius: 0.2162rem;
	position: relative;
	overflow: hidden;
	.name{
		position: absolute;
		font-size: 0.4324rem;
		color: #333;
		top: 0.4324rem;
		left: 0.4324rem;
	}
	.count{
		font-size: 0.3243rem;
		color: #777;
		position: absolute;
		bottom: 0.4054rem;
		left: 0.4054rem;
	}
	.cover{
		position: absolute;
		height: 80%;
		right: 0;
		bottom: 0;
		border-left: 1px solid #ececec;
		border-top: 1px solid #ececec;
	}
}
