.header {
	display: flex;
	align-items: center;
	.logo {
		width: 30px;
		height: 30px;
		padding: 5px;
	}
	.text {
		font-size: 14px;
		color: #666;
		flex: 1;
	}
	.search {
		font-size: 24px;
		box-sizing: border-box;
		padding: 5px;
	}
}
