.header {
	display: flex;
	align-items: center;
	.logo {
		width: 0.8108rem;
		height: 0.8108rem;
		padding: 5px;
	}
	.text {
		font-size: 0.3784rem;
		color: #666;
		flex: 1;
	}
	.search {
		font-size: 0.6486rem;
		box-sizing: border-box;
		padding: 5px;
	}
}
