.search{
	flex: 1;
	width: 100%;
	border: none;
	outline: none;
	background-color: #f0f0f0;
	height: 0.8108rem;
	border-radius: 0.8108rem;
	padding-left: 0.4324rem;
	font-size: 0.4054rem;
	position: relative;
	&::before{
		content: '';
		background-color: red;
		width: 10px;
		height: 10px;
	}
}
