.nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #333;
	a{
		display: block;
		width: 100%;
		text-align: center;
		height: 1.0811rem;
		line-height: 1.0811rem;
		text-align: center;
		color: #a1a1a1;
		transition: all 0.3s ease;
		font-size: 0.4324rem;
		&.active{
			background-color: #454545;
			color: #f2f2f2
		}
	}
}
