.index{
	.chanel-link{
		display: flex;
		justify-content: space-evenly;
		padding: 0.25rem 0;
		i{
			margin-right: 0.1351rem;
		}
	}
	.list{
		box-sizing: border-box;
		padding: 0 0.4865rem ;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
		&.grey{
			background-color: #f7f7f7;
			border-color: transparent;
		}
		&.column{
			display: flex;
			flex-direction: column;
			& > div{
				padding-bottom: 0.2703rem;
				margin-bottom: 0.2703rem;
				border-bottom: 1px solid #eaeaea;
			}
			& > div:last-child{
				border-bottom: none;
			}
		}
		&.row{
			display: flex;
		}
	}
}
